div.card {
  max-width: 40rem;
}

.card form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 5rem;
}

.card form input[type='text'] {
  position: absolute;
  left: 1rem;
  min-height: 2rem;
  width: calc(100% - 10rem);
  border-radius: 12px;
  text-indent: 1rem;
  border: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  font-weight: 400;
}

.todo-filter-container {
  position: absolute;
  height: 100%;
  left: calc(100% - 8.5rem);
  width: 8rem;
  color: white;
}
.todo-filter-container label {
  position: absolute;
  top: 1rem;
  left: calc(100% - 5rem);
}

.todo-filter-container #todoFilter {
  position: absolute;
  top: 2.5rem;
  left: calc(100% - 7rem);
  border-radius: 24px;
  height: 2rem;
  width: 6.5rem;
  text-align: center;
}

.message {
  position: absolute;
  color: white;
  bottom: 0.5em;
  left: calc(50% - 10em);
  transition: all 0.5s ease-in-out;
}

select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px #bd2a2e inset !important;
  background-color: #bd2a2e !important;
}

.card form input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}

::selection {
  background: rgb(189, 42, 46, 0.8);
  color: rgb(255, 255, 255);
}
