.card button {
  background-color: transparent;
}

.card button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5em;
}

.card.completed button {
  color: rgba(255, 255, 255, 0.8);
}

.card button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}
