.btn {
  transition: all 0.6s ease;
}

form .btn-form {
  background-color: rgba(165, 42, 42, 0.9);
  color: white;
}

form .btn-form:hover {
  box-shadow: none;
}

button:disabled {
  color: black;
  background-color: rgb(178, 190, 191);
  filter: saturate(0.4);
  cursor: default;
}
