@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 60%;
  max-width: 80%;
  min-height: 3rem;
  padding: 15px 5px 15px 5px;
  margin: 10px auto;
  border-radius: 18px;
  background-color: rgba(165, 42, 42, 0.9);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  transition: all 1s ease-in-out;
}

.card .text-display {
  min-width: 85%;
  max-width: 90%;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: start;
}

.card .checkbox-display {
  max-width: 10%;
  width: 2em;
  height: 2em;
  background-color: whitesmoke;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.checkbox-display:checked {
  background-color: rgba(70, 1, 1, 0.8);
}

.card button {
  width: 5em;
  height: 2em;
  padding: 0.2em 0.3em;
  margin: 0.8em;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.card button.edit {
  position: absolute;
  right: 0;
}

.card button.close {
  position: absolute;
  right: 5.2em;
}

.card.reverse {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

.card.completed {
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: line-through 3px rgba(70, 1, 1, 0.8);
}

.card.completed .text-display {
  color: rgba(255, 255, 255, 1);
}

.card.completed button {
  background-color: rgba(70, 1, 1, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
