.modal-container {
  position: relative;
  overflow: hidden;
  width: 35rem;
  min-height: 24rem;
  /* max-height: 26rem; */
  margin: 5px;
  padding: 10px 15px 0 12px;
  transition: all 1s ease-in-out;
}

.modal-container h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 200;
  margin: 0.5rem auto 1.5rem auto;
}

.text-container * {
  margin: 0;
  padding: 0;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0.2rem 1rem 0.5em;
  font-weight: 300;
}

.text-container label {
  font-size: 1.3rem;
  word-spacing: -1px;
  text-align: start;
  width: 7.6rem;
}

.text-container form {
  display: contents;
}

.text-container span,
.text-container p,
.text-container form input {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 0.22rem 0.1rem;
  font-size: 1.4rem;
  word-spacing: -0.5px;
  text-align: center;
  transition: all 0.5s ease;
}

.text-container p {
  max-height: 4rem;
}

.text-container form input {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: white;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
}

.text-container form input:focus {
  box-shadow: 0 0 0 3px rgba(251, 70, 70, 0.7);
}

.modal-container .edit-modal {
  position: absolute;
  top: calc(0% + 5.55rem);
  left: calc(100% - 3.75rem);
  background-color: transparent;
  color: white;
}

.modal-container .buttons-container {
  width: 95%;
  height: 6rem;
  margin: auto auto;
  padding: 0;
}

.modal-container .buttons-container .Btn {
  width: 7rem;
  height: 3.5rem;
  font-size: 23px;
  border-radius: 38px;
  transition: filter 0.8s ease-in-out;
  transition: box-shadow 0.3s linear;
}

.modal-container .buttons-container .Btn:disabled {
  opacity: 0.9;
  filter: saturate(0.2);
}

.modal-container .buttons-container .Btn:disabled:hover {
  box-shadow: none;
}
