.ReactModal__Body--open,
.ReactModal__Html--open {
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
  border: none;
  color: white;
}

.subtitle {
  text-align: center;
  font-size: 2rem;
}

.description {
  text-align: center;
}

.description p {
  font-size: 1.6rem;
  font-weight: 300;
}

.description span {
  font-size: 1.2rem;
  font-weight: 100;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  height: 3.5rem;
  width: 100%;
}

.buttons-container button {
  font-family: 'Fira Sans', sans-serif;
  background-color: rgba(165, 42, 42, 0.8);
  color: white;
  margin: auto 0.5em auto 0.5em;
  padding: 0.2em 0.5rem 0.2em 0.5rem;
  width: 6rem;
  height: 3rem;
  border-radius: 24px;
  font-size: 21px;
  font-weight: 300;
  transition: box-shadow 0.5s ease;
}

.buttons-container button:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
}

.buttons-container button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}
