.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 35rem;
  margin: 1.5rem auto 2.8rem auto;
  font-weight: 300;
}

.footer p {
  color: white;
  margin: 0;
}

/* .footer p:first-of-type {
  left: calc(0%);
} */

.footer p:only-child {
  /* left: calc(100% - 4rem); */
  display: flex;
  width: 7rem;
}

.footer a {
  text-decoration: none;
}

.footer span {
  font-weight: 500;
  color: rgb(158, 41, 41);
}
