.card button {
  background-color: transparent;
}

.card button.edit {
  position: absolute;
  right: 3.5em;
}

.card button.close {
  position: absolute;
  right: 0.5em;
}

.card.completed button {
  color: rgba(255, 255, 255, 0.8);
}

.card button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}
