form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 5rem;
}

form input[type='text'] {
  min-height: 2rem;
  width: 25rem;
  border-radius: 12px;
  text-indent: 1rem;
  border: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  font-weight: 400;
}

form button {
  position: absolute;
  left: 20rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0 0 1px 1px brown;
}

.todo-filter-container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 8rem;
  color: aliceblue;
}
.todo-filter-container label {
  position: absolute;
  top: 12px;
  right: 3.3rem;
}

.todo-filter-container #todoFilter {
  border-radius: 24px;
  height: 2rem;
  width: 6.5rem;
  text-align: center;
  outline: none;
}

select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px brown inset !important;
  background-color: brown !important;
}

::selection {
  background: brown;
  color: brown;
}

form input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}
