.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 60%;
  max-width: 80%;
  min-height: 3rem;
  padding: 15px 5px 15px 5px;
  margin: 10px auto;
  border-radius: 18px;
  background-color: rgba(165, 42, 42, 0.95);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
  transition: all 1s ease-in-out;
}

@media (max-width: 650px) {
  .card {
    min-height: 5rem;
  }
}

.card .text-display {
  position: absolute;
  left: calc(0% + 4rem);
  min-width: calc(100% - 10rem);
  max-width: calc(100% - 8.5rem);
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: start;
}

.card .checkbox-display {
  position: absolute;
  left: calc(0% + 1rem);
  max-width: 10%;
  width: 2em;
  height: 2em;
  background-color: whitesmoke;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.checkbox-display:checked {
  background-color: rgba(70, 1, 1, 0.8);
}

.card.completed .check-icon {
  position: absolute;
  top: 1.8rem;
  left: calc(0% + 1.5rem);
}

.card.reverse {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

.card.completed {
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: line-through 3px rgba(70, 1, 1, 0.8);
}

.card.completed .text-display {
  color: rgba(255, 255, 255, 1);
}

.card span.zero-todo-msg {
  color: white;
  font-weight: 300;
}
