@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(71, 71, 71);
  background: linear-gradient(
    90deg,
    rgba(42, 45, 89, 1) 0%,
    rgba(50, 52, 87, 1) 100%
  );
}

#root * {
  font-family: 'Fira Sans', sans-serif;
}

#root {
  margin: 2rem auto 0 auto;
  padding: 1.5rem 1rem 1rem 1rem;
  width: 80%;
  min-height: 50rem;
  text-align: center;
  background-color: rgba(25, 25, 25, 0.95);
  border-radius: 12px;
  box-shadow: 0 0px 15px -1px black;
}
