@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: gray;
}

#root * {
  font-family: 'Fira Sans', sans-serif;
}

#root {
  margin: 2rem auto 0 auto;
  padding: 1.5rem 1rem 1rem 1rem;
  width: 80%;
  min-height: 50rem;
  text-align: center;
  background-color: darkgray;
  border-radius: 12px;
  box-shadow: 0 0px 15px -1px black;
}
